weekly-telegram-poster.json
{
  "id": "olY5LFhYz2NIBCAC",
  "name": "TelePost Bot",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "*/15 19-21 * * 1-3"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        304
      ]
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "value": "SfKWVfH1WwTfrxsS",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "status",
              "keyValue": "pending"
            }
          ]
        }
      },
      "id": "get-pending-posts",
      "name": "Get Pending Posts",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "const TIMEZONE = 'Europe/Moscow';\n\nconst now = new Date();\n\n// Текущее время по Москве\nconst formatter = new Intl.DateTimeFormat('en-US', {\n  timeZone: TIMEZONE,\n  hour: 'numeric',\n  minute: 'numeric',\n  hour12: false,\n  weekday: 'short'\n});\n\nconst parts = formatter.formatToParts(now);\nconst currentHour = parseInt(parts.find(p => p.type === 'hour').value);\nconst currentMinute = parseInt(parts.find(p => p.type === 'minute').value);\nconst currentTotal = currentHour * 60 + currentMinute;\n\nconst dayMap = { Sun: 0, Mon: 1, Tue: 2, Wed: 3, Thu: 4, Fri: 5, Sat: 6 };\nconst currentDay = dayMap[parts.find(p => p.type === 'weekday').value];\n\nconsole.log(`MSK: ${currentHour}:${currentMinute.toString().padStart(2,'0')} | Day: ${currentDay}`);\n\nconst filtered = $input.all().filter(item => {\n  const row = item.json;\n  const reasons = [];\n\n  if (String(row.status) !== 'pending') reasons.push(`status=${row.status}`);\n  if (Number(row.day_of_week) !== currentDay) reasons.push(`day=${row.day_of_week}`);\n\n  // Проверка времени\n  if (!row.time) {\n    reasons.push(\"no time\");\n  } else {\n    const [h, m] = String(row.time).split(':').map(Number);\n    if (isNaN(h) || isNaN(m)) {\n      reasons.push(\"bad time format\");\n    } else {\n      const targetTotal = h * 60 + m;\n      const diff = currentTotal - targetTotal;\n      if (diff < -15 || diff > 15) reasons.push(`diff=${diff}`);\n    }\n  }\n\n  // Проверка sent_at (6.5 days cooldown to avoid race with n8n processing delay)\n  if (row.sent_at && row.sent_at !== null && row.sent_at !== 'null') {\n    const sentAt = new Date(row.sent_at);\n    const daysSince = (now.getTime() - sentAt.getTime()) / (1000 * 60 * 60 * 24);\n    if (daysSince < 6.5) reasons.push(`sent ${daysSince.toFixed(1)} days ago`);\n  }\n\n  if (reasons.length === 0) {\n    console.log(`PASS: ${row.post_id}`);\n    return true;\n  } else {\n    console.log(`SKIP ${row.post_id}:`, reasons);\n    return false;\n  }\n});\n\nconsole.log(`Total passed: ${filtered.length}`);\nreturn filtered;\n"
      },
      "id": "filter-posts",
      "name": "Filter Posts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        304
      ],
      "alwaysOutputData": false,
      "notesInFlow": true
    },
    {
      "parameters": {
        "chatId": "={{ $json.channel_id }}",
        "text": "={{ $json.post_text }}",
        "replyMarkup": "={{ $json.has_button ? 'inlineKeyboard' : '' }}",
        "forceReply": {},
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "={{ $json.button_text }}",
                    "additionalFields": {
                      "url": "={{ $json.button_url }}"
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "telegram-send",
      "name": "Telegram Send",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        800,
        304
      ],
      "webhookId": "b68cb23d-0c55-4f74-9210-71f0f3b5fc59",
      "credentials": {
        "telegramApi": {
          "id": "p9gCqL29a8sOgpTi",
          "name": "TelePost Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nreturn [{\n  json: {\n    ...item.json,\n    _success: item.json.ok === true\n  }\n}];"
      },
      "name": "Send Success?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        304
      ],
      "id": "if-success"
    },
    {
      "parameters": {
        "jsCode": "const post = $('Filter Posts').first()?.json;\nif (!post?.post_id) throw new Error('No post data from Filter Posts');\n\nreturn [{\n  json: {\n    id: post.post_id,\n    status: 'pending',\n    sent_at: new Date().toISOString(),\n    retry_count: 0\n  }\n}];"
      },
      "id": "mark-sent",
      "name": "Mark Sent",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "const post = $('Filter Posts').first()?.json;\nif (!post?.post_id) throw new Error('No post data from Filter Posts');\n\nconst item = $input.first();\nconst retryCount = (post.retry_count || 0) + 1;\nconst MAX_RETRIES = 3;\n\nreturn [{\n  json: {\n    id: post.post_id,\n    status: retryCount < MAX_RETRIES ? 'pending' : 'error',\n    retry_count: retryCount,\n    last_error: item.json?.error?.message || 'Telegram send failed'\n  }\n}];"
      },
      "id": "handle-error",
      "name": "Handle Error",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "dataTableId": {
          "value": "SfKWVfH1WwTfrxsS",
          "mode": "list"
        },
        "filters": {
          "conditions": [
            {
              "keyName": "post_id",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sent_at": "={{ $json.sent_at }}",
            "status": "={{ $json.status }}",
            "retry_count": "={{ $json.retry_count }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "channel_id",
              "displayName": "channel_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "post_id",
              "displayName": "post_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "day_of_week",
              "displayName": "day_of_week",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "time",
              "displayName": "time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "post_text",
              "displayName": "post_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "button_text",
              "displayName": "button_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "button_url",
              "displayName": "button_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sent_at",
              "displayName": "sent_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "retry_count",
              "displayName": "retry_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "update-status",
      "name": "Update Status",
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        1632,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "check-success",
              "leftValue": "={{ $json._success }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "name": "Check Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1216,
        304
      ],
      "id": "check-success-001"
    },
    {
      "parameters": {
        "jsCode": "const item = $input.first();\nconst buttonText = item.json?.button_text || '';\nconst buttonUrl = item.json?.button_url || '';\n\nreturn [{\n  json: {\n    ...item.json,\n    has_button: !!(buttonText && buttonUrl),\n    button_text: buttonText,\n    button_url: buttonUrl\n  }\n}];"
      },
      "name": "Prepare Buttons",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        304
      ],
      "id": "prepare-buttons-001"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Pending Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Posts": {
      "main": [
        [
          {
            "node": "Filter Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Posts": {
      "main": [
        [
          {
            "node": "Prepare Buttons",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Send": {
      "main": [
        [
          {
            "node": "Send Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Success?": {
      "main": [
        [
          {
            "node": "Check Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark Sent": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Handle Error": {
      "main": [
        [
          {
            "node": "Update Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status": {
      "main": [
        []
      ]
    },
    "Check Success?": {
      "main": [
        [
          {
            "node": "Mark Sent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Handle Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Buttons": {
      "main": [
        [
          {
            "node": "Telegram Send",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "Europe/Moscow",
    "saveDataSuccessExecution": "none",
    "saveDataErrorExecution": "all"
  }
}